* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo {
    max-width: 400px;
    height: auto;
    margin-top: 50px;
}

.info {
    width: 500px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter {
    font-weight: bold;
    color: red;
}

.btn {
    padding: 5px;
    margin-top: 20px;
}